:root {
    /* Dark baground color for hero and footer */
    --dark-background-color: #1f2937;

    /* Hero main text "this website is awesome" */
    --hero-main-font-size: 48px;
    --hero-main-font-weight: 800;
    --hero-main-color: #f9faf8;

    /* Hero seconday text, header link text */
    --hero-secondary-font-size: 18px;
    --hero-secondary-color: #e5e7eb;

    /* Header logo text */
    --header-logo-font-size: 24px;
    --header-logo-color: #f9faf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

